In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix
import sweetviz as sv

%matplotlib inline
folder = "C:/Users/sucod/OneDrive/Lenovo/Documentos/Sql/"

In [16]:
df_produto_1 = pd.read_csv(r"C:\\Users\\sucod\\OneDrive\\Lenovo\\Documentos\\Projetos\\Projetos\\Análise de Dados com MySql e Python\\2_SVM\\CSVLojaSVM\\produto_svm.csv")
df_produto_1 = df_produto_1[['prodValor','prodVendas','prodCusto','prodCustoAcum','prodGanhoAcum','prodLucro']]
df_produto_1.head()

   prodValor  prodVendas  prodCusto  prodCustoAcum  prodGanhoAcum  prodLucro
0      49.74         460      35.03       15903.60        22880.4    6976.78
1      54.72         449      37.48       19377.20        24569.3    5192.12
2      70.33         258      45.67       14340.40        18145.1    3804.76
3       9.54        1054       4.06        4340.14        10055.2    5715.02
4      43.40         519      31.68       16346.90        22524.6    6177.72

In [17]:
df_produto_3 = pd.read_csv(r"C:\\Users\\sucod\\OneDrive\\Lenovo\\Documentos\\Projetos\\Projetos\\Análise de Dados com MySql e Python\\2_SVM\\CSVLojaSVM3\\produto_svm3.csv")
df_produto_3 = df_produto_3[['prodValor','prodVendas','prodCusto','prodCustoAcum','prodGanhoAcum','prodLucro']]
df_produto_3.head()

   prodValor  prodVendas  prodCusto  prodCustoAcum  prodGanhoAcum  prodLucro
0      63.75         255      35.03        4974.26        16256.2   11282.00
1      56.73         237      21.82        4582.20        13445.0    8862.81
2      40.26         435      12.20        4867.80        17513.1   12645.30
3      63.02         194      45.67        7672.56        12225.9    4553.32
4      49.16         323      26.01        7386.84        15878.7    8491.84

In [43]:
my_report = sv.compare([df_produto_1, 'SVM 1'], [df_produto_3,'SVM 3'])
my_report.show_html(filepath='Relatorio.html', 
            open_browser=True, 
            layout='vertical')

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=7.0), HTML(value='')), la…

Report Relatorio.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [46]:
my_report = sv.compare_intra(df_produto_1, df_produto_1["prodLucro"] >5000, ["Lucro", "Prejuízo"])
my_report.show_html(filepath='Relatorio.html', 
            open_browser=True, 
            layout='vertical')

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=7.0), HTML(value='')), la…

Report Relatorio.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.